.page {
    background:rgb(33, 62, 66);
    color: white;
    min-height: 80vh;
    overflow: hidden;
}

.post-details-page {
    padding: 15px;
}

.post-reply {
    float: right;
}

.navbar {
    background: rgb(26, 48, 51);    
}

.navbar-right {
    float: right;
    position: absolute;
    right: 50px;
    top: 60px;
    border: 1px solid gray;
    color: white;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 15px;
    text-align: left;
    z-index: 1;
}

.avatar {
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%
}