.page {
    background:rgb(33, 62, 66);
    color: white;
    min-height: 80vh;
    width: 100%;
    overflow: hidden;
}

.post-details-page {
    padding: 15px;
}

.post-reply {
    float: right;
}

.avatar {
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%
}