label, input[type=submit], h1 {
    text-transform: capitalize;
}

.form-panel {
    margin: 0 auto;
}

.error {
    color: red;
    text-transform: uppercase;
    font-weight: 900;
}

#user-radio, #admin-radio {
    display: inline-block;
}